<!---=== Header & Menu  ====---->
<div class="container-fluid" id="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-12 col-md-2 top-10">
          <a href="index.php" class="text-logo"
            ><img src="assets/images/new.png" alt="logo" class="img-fluid"
          /></a>
        </div>
        <div class="col-md-10 col-lg-10 col-sm-12 col-12 address-top">
          <div class="get-tuch text-left top20">
            <i
              ><img
                src="assets/images/call-icons.png"
                alt="call-icons"
                class="img-fluid"
            /></i>
            <ul>
              <li><h4>Phone Number</h4></li>
              <li><p>+91- 7678152415</p></li>
            </ul>
          </div>
          <div class="get-tech-line top20">
            <img src="assets/images/get-tuch-line.png" alt="line" />
          </div>
          <div class="get-tuch text-left top20">
            <i
              ><img
                src="assets/images/maps-icons.png"
                alt="call-icons"
                class="img-fluid"
            /></i>
            <ul>
              <li><h4>Address</h4></li>
              <li><p>Office-554, Khan Market Ballabhgarh Faridabad.</p></li>
            </ul>
          </div>
          <div class="get-tech-line top20">
            <img src="../../assets/images/get-tuch-line.png" alt="line" />
          </div>
          <div class="get-tuch text-left top20">
            <i
              ><img
                src="../../assets/images/email-icons.png"
                alt="call-icons"
                class="img-fluid"
            /></i>
            <ul>
              <li><h4>Email Address</h4></li>
              <li>
                <p><a href="#">carrycranes2021@gmail.com</a></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!---=== & menu  ====---->
  
  <div class="container-fluid nav-fixed">
    <nav class="navbar navbar-expand-md myheader nav-p0">
      <div class="container">
        <a class="navbar-brand logo-brand text-logo logo-nav" href="index.php"><span>Carry Cranes & Hoists</span>
          <!--<img src="images/logo2.png" alt="logo" class="img-fluid">--></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
        >
          <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse menubars" id="collapsibleNavbar" id="">
          <ul class="navbar-nav menu-list sss">
            <li class="nav-item current-menu-item active">
              <a class="nav-link" routerLink="/home" routerLinkActive="router-link-active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="router-link-active">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" routerLink="/products" routerLinkActive="router-link-active" id="navbardrop" data-toggle="dropdown" >Products
              </a>
              <div class="dropdown-menu inner-submenu">
                <!-- inner-submenu -->
                <ul>
                  <li>
                    <a class="dropdown-item" href="products.php">EOT Cranes</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="products.php">Jib Cranes</a>
                  </li>
                  <li><a class="dropdown-item" href="#0">Good Lifts</a></li>
                  <li><a class="dropdown-item" href="#0">Hot Cranes</a></li>
                  <li><a class="dropdown-item" href="#0">Spare Parts</a></li>
                  <li><a class="dropdown-item" href="#0">Gantry Cranes</a></li>
                  <li>
                    <a class="dropdown-item" href="#0">Semi Goliath Cranes</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/gallery" routerLinkActive="router-link-active" >Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  