<footer
  id="footer"
  class="divider layer-overlay"
  style="background-image: url(assets/images/bg2.png); background-size: contain"
>
  <div class="container pt-70">
    <div class="row">
      <div class="col-sm-6 col-xl-3 col-12 col-md-6 col-lg-3">
        <div class="f-about">
          <a href="#0" class="footer-logo-text">Carry Cranes & Hoists</a>
          <p class="para-about">
            Carrycranes is your one-stop source for purchasing and selling new
            and used crane lifting equipment. Buyers can find crane and lifting
            equipment of all kinds , including semi goliath cranes, jib cranes,
            gantry cranes, hot cranes, good lifts and EOT cranes, plus thousands
            of crane parts and crane attachments. CraneTrader.com
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3 col-12 col-md-6 col-lg-3">
        <h4 class="comman-links">Quick Links</h4>
        <div class="qulik-links">
          <ul class="footer-link">
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i
                >Home</a
              >
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>About
                Us</a
              >
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i
                >Products</a
              >
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i
                >Gallery
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i
                >Contact us
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3 col-12 col-md-6 col-lg-3">
        <h4 class="comman-links">Products</h4>
        <div class="qulik-links">
          <ul class="footer-link">
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>EOT
                Cranes</a
              >
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>Jib
                Cranes</a
              >
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>Good
                Lifts</a
              >
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>Hot
                Cranes</a
              >
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>Spare
                Parts</a
              >
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i
                >Gantry Cranes</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6 col-xl-3 col-12 col-md-6 col-lg-3">
        <h4 class="comman-links">Contact Us</h4>
        <div class="address-widget">
          <ul class="add-number">
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <a href="#"
                >Office-554, Khan Market Samaypur Road Rajiv Colony Sec 56A
                Ballabhgarh Faridabad.</a
              >
            </li>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <a href="#">
                Workshop-Plot No:1, Gali No-4 Krishna Colony Sec-25 Ballabhgarh
                Faridabad.</a
              >
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <a href="#">7678152415, 7217640518, 9873018598</a>
            </li>
            <li>
              <i class="fa fa-envelope-o"></i
              ><a href="#">carrycranes2021@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-sm-12 col-12 col-md-8 col-lg-6 text-center">
          <div class="side-public">
            <span>
              <a href="javascript:void(0);">
                Copyright ©
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights Reserved | Design &amp; Developed By</a
              >
            </span>
            <span class=""
              ><a target="_blank" href="http://www.imgglobalinfotech.com/">
                <img
                  src="assets/images/logofooter.png"
                  title="logo"
                  class="img-fluid" /></a
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
