<!--Comman Banner -->
<section id="comman-banner">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-12 col-sm-12 col-md-12 col-xl-12">
          <div class="about-pages-tittle">
            <ul class="breadcrumb goldenwings-line">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--about Sec -->
  <section class="about-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6">
          <div class="about-content mt-45">
            <div class="section-about-left">
              <h2 class="title-text">About Us</h2>
              <div class="sec-title">
                <div class="separator centered"></div>
              </div>
            </div>
            <div class="section-title mb-30" style="text-align: left !important">
              <h2>
                Carrycranes is your one-stop source for purchasing and selling
              </h2>
            </div>
            <p class="mb-45">
              new and used crane lifting equipment. Buyers can find crane and
              lifting equipment of all kinds , including semi goliath cranes, jib
              cranes, gantry cranes, hot cranes, good lifts and EOT cranes, plus
              thousands of crane parts and crane attachments. CraneTrader.com
              features high-quality cranes from leading manufacturers
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="about-image text-center mt-50">
            <img src="assets/images/about-us.jpg" alt="About" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--  Mission Section   -->
  <section class="mission-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="colum col-lg-6 col-md-6 col-sm-12">
          <div class="inner-column">
            <div class="content-box">
              <h4>Our Mission</h4>
              <div class="sec-title centered">
                <div class="separator centered"></div>
              </div>
              <div class="text">
                Our philosophy is to build the best products the way they should
                be built and offer them at competitive prices for the broadest
                market. Our in-house design, manufacturing & testing facilities
                are a testimony to our commitment towards customers’ success. With
                this we focus on controlling costs, ensuring component
                availability and on time deliveries.
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="image-box">
            <figure class="image">
              <img
                src="assets/images/mission.png"
                alt="mission"
                class="img-fluid"
              />
            </figure>
          </div>
        </div>
  
        <div class="colum col-lg-6 col-md-6 col-sm-12">
          <div class="inner-column">
            <img
              src="assets/images/new-vision.png"
              alt="mission"
              class="img-fluid"
            />
          </div>
        </div>
  
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div
            class="content-box"
            style="background-image: url(assets/images/logo-icon-2.png)"
          >
            <h4>Our Vision</h4>
            <div class="sec-title centered">
              <div class="separator centered"></div>
            </div>
            <div class="text">
              Our vision is to be a leader; customer delight is the focus.
              Carrycranes envisions itself, at the helm of an Industry, working
              towards continuous improvement in technology and quality, being
              completely responsive to the customer’s requirements and continuous
              learning will be the way of life. Being responsive to the society we
              live in.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Our story --->
  <section class="about-choose pt-41 pb-41">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="achievement">
                <div class="sec-title centered">
                  <h2>Our Story</h2>
                  <div class="separator"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="about-feature-content" style="padding-top: 40px">
            <div class="row align-items-center">
              <div class="col-md-6 col-sm-9">
                <div class="market-block-two col-md-12 col-sm-12 col-xs-12">
                  <div class="inner-box">
                    <div class="image">
                      <img src="assets/images/market-1.jpg" alt="" />
                      <div class="overlay-box">
                        <h2>We've come a long way</h2>
                      </div>
                    </div>
                    <div class="content-overlay">
                      <div class="content-inner">
                        <div class="content">
                          <div class="text">
                            Our convictions fuel our duty to offer this amazing
                            scope of brands and items; we accept everybody ought
                            to approach magnificence, paying little respect to
                            where you are, your identity, and the amount you can
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-md-6 col-sm-9">
                <div class="market-block-two col-md-12 col-sm-12 col-xs-12">
                  <div class="inner-box">
                    <div class="image">
                      <img src="assets/images/market-2.jpg" alt="" />
                      <div class="overlay-box">
                        <h2>We are the experts</h2>
                      </div>
                    </div>
                    <div class="content-overlay">
                      <div class="content-inner">
                        <div class="content">
                          <div class="text">
                            Our group's learning is best in class. Regardless of
                            whether you have an inquiry or are searching for the
                            following huge thing in magnificence, you're in safe
                            hands at Feelunique.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-md-6 col-sm-9">
                <div class="market-block-two col-md-12 col-sm-12 col-xs-12">
                  <div class="inner-box">
                    <div class="image">
                      <img src="assets/images/market-3.jpg" alt="" />
                      <div class="overlay-box">
                        <h2>
                          We aren't all over the place yet we're pretty darn close
                        </h2>
                      </div>
                    </div>
                    <div class="content-overlay">
                      <div class="content-inner">
                        <div class="content">
                          <div class="text">
                            Transportation to more than 120 nations, and tallying.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-md-6 col-sm-9">
                <div class="market-block-two col-md-12 col-sm-12 col-xs-12">
                  <div class="inner-box">
                    <div class="image">
                      <img src="assets/images/market-1.jpg" alt="" />
                      <div class="overlay-box">
                        <h2>We've come a long way</h2>
                      </div>
                    </div>
                    <div class="content-overlay">
                      <div class="content-inner">
                        <div class="content">
                          <div class="text">
                            Carrycranes has a consolidated presence in all major
                            Infrastructure, Construction, Heavy Engineering and
                            Industrial Projects across the country.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  