<!--Comman Banner -->
<section id="comman-banner">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-12 col-sm-12 col-md-12 col-xl-12">
          <div class="about-pages-tittle">
            <ul class="breadcrumb goldenwings-line">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">Our Products</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="container airline-course-section pt-60" id="">
    <div class="row align-item-center">
      <div class="col-lg-5 col-md-5 col-sm-12 col-12">
        <div class="training-left-text">
          <h2 class="title">Our Products</h2>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-12">
        <div class="training-right-text">
          <p>
            Carrycranes is one of the largest EOT Cranes, Gantry Cranes, Jib
            Cranes, Semi Goliath Cranes and more manufacturing company with a
            consolidated presence altogether major infrastructure, construction,
            heavy engineering, and industrial projects across the market.
          </p>
        </div>
      </div>
    </div>
    <div class="airline-course-header mb-30">
      <div class="row mb-30 align-item-center">
        <div class="col-md-6 col-lg-6 col-xl-4 mr-b-20">
          <div class="team-block mrb-30">
            <div class="team-upper-part">
              <img
                src="assets/images/Hoist.jpg"
                alt="hoist"
                class="img-fluid img-full"
              />
              <ul class="social-list">
                <li>Hoist</li>
              </ul>
            </div>
            <div class="team-bottom-part">
              <h4 class="team-title mrb-5">
                <a href="page-single-team.html">Hoist</a>
              </h4>
              <h6 class="designation f-weight-500 text-gray">
                Carrycranes is one of the largest EOT Cranes, Gantry Cranes, Jib
                Cranes, Semi Goliath Cranes and more manufacturing company with a
                consolidated presence altogether major infrastructure,
                construction, heavy engineering, and industrial projects across
                the market.
              </h6>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-6 col-xl-4 mr-b-20">
          <div class="team-block mrb-30">
            <div class="team-upper-part">
              <img
                src="assets/images/semi.jpg"
                alt="hoist"
                class="img-fluid img-full"
              />
              <ul class="social-list">
                <li>Semi Goliath Cranes</li>
              </ul>
            </div>
            <div class="team-bottom-part">
              <h4 class="team-title mrb-5">
                <a href="page-single-team.html">Semi Goliath Cranes</a>
              </h4>
              <h6 class="designation f-weight-500 text-gray">
                Semi Goliath Cranes are demanded by Industries that require a big
                Load Transportation Facility. These Indoor & Outdoor Semi Goliath
                Cranes are appreciated for his or her Optimum Working Space
              </h6>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-6 col-xl-4 mr-b-20">
          <div class="team-block mrb-30">
            <div class="team-upper-part">
              <img
                src="assets/images/eot.jpg"
                alt="eot"
                class="img-fluid img-full"
              />
              <ul class="social-list">
                <li>EOT Cranes</li>
              </ul>
            </div>
            <div class="team-bottom-part">
              <h4 class="team-title mrb-5">
                <a href="page-single-team.html">EOT Cranes</a>
              </h4>
              <h6 class="designation f-weight-500 text-gray">
                To Fulfill The Specific Needs Of The Clients. Carry Cranes Give
                Them A Customized Exhibit Of EOT Cranes In Changing Capacities
                Going From 1.0 T To 200 T Capacities Of EOT Cranes.
              </h6>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-6 col-xl-4 mr-b-20">
          <div class="team-block mrb-30">
            <div class="team-upper-part">
              <img
                src="assets/images/gantry.jpg"
                alt="gantry"
                class="img-fluid img-full"
              />
              <ul class="social-list">
                <li>Gantry Cranes</li>
              </ul>
            </div>
            <div class="team-bottom-part">
              <h4 class="team-title mrb-5">
                <a href="page-single-team.html">EOT Cranes</a>
              </h4>
              <h6 class="designation f-weight-500 text-gray">
                Carry Cranes Are Manufacturing And Supplying A Good Array Of
                Gantry Cranes For Marble Industries, Hydel Projects & Open Yards/
                Workshops. Gantry Cranes Are Varying From 1.0 T To 200 T
                Capacities & Span Up To 50 Mtrs
              </h6>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-6 col-xl-4 mr-b-20">
          <div class="team-block mrb-30">
            <div class="team-upper-part">
              <img
                src="assets/images/spare.jpg"
                alt="spare"
                class="img-fluid img-full"
              />
              <ul class="social-list">
                <li>Spare Parts</li>
              </ul>
            </div>
            <div class="team-bottom-part">
              <h4 class="team-title mrb-5">
                <a href="page-single-team.html">Spare Parts</a>
              </h4>
              <h6 class="designation f-weight-500 text-gray">
                We Are Offering Material Handling Spare Parts To Our Client And
                Our Product Is Made Of Good Quality.<
              </h6>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-6 col-xl-4 mr-b-20">
          <div class="team-block mrb-30">
            <div class="team-upper-part">
              <img
                src="assets/images/jib.png"
                alt="jib"
                class="img-fluid img-full"
              />
              <ul class="social-list">
                <li>Jib Cranes</li>
              </ul>
            </div>
            <div class="team-bottom-part">
              <h4 class="team-title mrb-5">
                <a href="page-single-team.html">Jib Cranes</a>
              </h4>
              <h6 class="designation f-weight-500 text-gray">
                Our Jib Crane Offers Decisions Of Various Determinations And
                Models. It Likewise Can Be Customized To Suit Client Explicit
                Prerequisites On Lifting Limit, The Greatest Point Of Slew, Jib A
                Manageable Distance, And Functionalities.
              </h6>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-6 col-xl-4 mr-b-20">
          <div class="team-block mrb-30">
            <div class="team-upper-part">
              <img
                src="assets/images/good-left.jpg"
                alt="good-left"
                class="img-fluid img-full"
              />
              <ul class="social-list">
                <li>Good Lifts</li>
              </ul>
            </div>
            <div class="team-bottom-part">
              <h4 class="team-title mrb-5">
                <a href="page-single-team.html">Good Lifts</a>
              </h4>
              <h6 class="designation f-weight-500 text-gray">
                Carry Cranes Is One Of The Main Manufacturers And Suppliers Of
                Goods Elevators. These Can Just Move Weighty Materials From One
                Level Inside The Delivering Offices To An Alternate.
              </h6>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-6 col-xl-4 mr-b-20">
          <div class="team-block mrb-30">
            <div class="team-upper-part">
              <img
                src="assets/images/Hoist.jpg"
                alt="hoist"
                class="img-fluid img-full"
              />
              <ul class="social-list">
                <li>Hot Cranes</li>
              </ul>
            </div>
            <div class="team-bottom-part">
              <h4 class="team-title mrb-5">
                <a href="page-single-team.html">Hot Cranes</a>
              </h4>
              <h6 class="designation f-weight-500 text-gray">
                Providing you the best range of HOT Cranes such as Underslung
                Cranes and Single Girder HOT Crane with effective & timely
                delivery.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--- Our awesome services --->
  <section class="" id="services-awesome-sec">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="achievement">
            <div class="sec-title centered">
              <h2>Why Buy From us</h2>
              <div class="separator"></div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row" id="awesome-boxs">
        <div class="col-xl-4 col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="services-boxs">
            <div class="services-item-icon">
              <img
                src="assets/images/icons-1.png"
                class="img-fluid"
                alt="service"
              />
            </div>
            <h3 class="item-title">Service</h3>
            <p class="item-content">
              Our Customer Service Department is recognized as the best in the
              industry; skilled, qualified, friendly and willing to go the extra
              mile.
            </p>
            <div class="services-readmore">
              <a href="#0" class="btn btn-danger">
                Read More <i class="fa fa-long-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
  
        <div class="col-xl-4 col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="services-boxs">
            <div class="services-item-icon">
              <img
                src="assets/images/icons-2.png"
                class="img-fluid"
                alt="service"
              />
            </div>
            <h3 class="item-title">Maintenance</h3>
            <p class="item-content">
              Our zero maintenance products are recommended by our clients who are
              our best sales media.
            </p>
            <div class="services-readmore">
              <a href="#0" class="btn btn-danger">
                Read More <i class="fa fa-long-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
  
        <div class="col-xl-4 col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="services-boxs">
            <div class="services-item-icon">
              <img
                src="assets/images/icons-3.png"
                class="img-fluid"
                alt="service"
              />
            </div>
            <h3 class="item-title">Competitive Edge</h3>
            <p class="item-content">
              Our goal and success has been our ability to out-perform in product
              quality, innovation, service and support.
            </p>
            <div class="services-readmore">
              <a href="#0" class="btn btn-danger">
                Read More <i class="fa fa-long-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
  
        <div class="col-xl-4 col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="services-boxs">
            <div class="services-item-icon">
              <img
                src="assets/images/icons-4.png"
                class="img-fluid"
                alt="service"
              />
            </div>
            <h3 class="item-title">Outside Sales Force</h3>
            <p class="item-content">
              The best trained and motivated Sales Team anywhere. Available
              anywhere in India to help solve your lifting needs and
              internationally.
            </p>
            <div class="services-readmore">
              <a href="#0" class="btn btn-danger">
                Read More <i class="fa fa-long-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
  
        <div class="col-xl-4 col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="services-boxs">
            <div class="services-item-icon">
              <img
                src="assets/images/icons-5.png"
                class="img-fluid"
                alt="service"
              />
            </div>
            <h3 class="item-title">Production Capability</h3>
            <p class="item-content">
              Our state-of-art factory is equipped with full on-site machining,
              welding and fabrication abilities.
            </p>
            <div class="services-readmore">
              <a href="#0" class="btn btn-danger">
                Read More <i class="fa fa-long-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
  
        <div class="col-xl-4 col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="services-boxs">
            <div class="services-item-icon">
              <img
                src="assets/images/icons-6.png"
                class="img-fluid"
                alt="service"
              />
            </div>
            <h3 class="item-title">Engineering Expertise</h3>
            <p class="item-content">
              Knowledgeable and responsive Engineering Department that is customer
              focused and available to answer questions
            </p>
            <div class="services-readmore">
              <a href="#0" class="btn btn-danger">
                Read More <i class="fa fa-long-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  