<!---=== & Slider  ====---->
<div class="container-fluid p-0" id="sliders">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="assets/images/main-banner-1.png"
            alt="sliders"
            class="img-fluid"
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/main-banner-2.png"
            alt="sliders"
            class="img-fluid"
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/main-banner-3.png"
            alt="sliders"
            class="img-fluid"
          />
        </div>
  
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="fa fa-angle-left angle-left"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="fa fa-angle-right angle-right"></span>
        </a>
      </div>
    </div>
  </div>
  
  <!---=== about  ====---->
  <div class="container-fluid" id="abouts">
    <div class="about-element-one"></div>
    <div class="about-element-two">
      <img src="assets/images/about-craness.png" alt="image" class="img-fluid" />
    </div>
    <div class="container pd-0">
      <div class="row">
        <div class="col-lg-6 col-12 col-md-8 col-sm-12 col-12 sm-mb-45px">
          <div class="section-about-left">
            <h2 class="title-text">About Us</h2>
            <div class="sec-title">
              <div class="separator centered"></div>
            </div>
          </div>
          <div class="about-text margin-tb-25px">
            <h2>
              Welcome To World Of Powerful Cranes & <br />
              Machines
            </h2>
            <p>
              Carrycranes is your one-stop source for purchasing and selling new
              and used crane lifting equipment. Buyers can find crane and lifting
              equipment of all kinds , including semi goliath cranes, jib cranes,
              gantry cranes, hot cranes, good lifts and EOT cranes, plus thousands
              of crane parts and crane attachments. CraneTrader.com features
              high-quality cranes from leading manufacturers
            </p>
          </div>
          <ul class="about-lists">
            <li class=""><a href="javascript:void(0);">Future Ready</a></li>
            <li class="">
              <a href="javascript:void(0);">Rising to challenges</a>
            </li>
            <li class=""><a href="javascript:void(0);">Speedy Delivery</a></li>
            <li class=""><a href="javascript:void(0);">Quality Assurance</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!---=== Project banner  ====---->
  <div class="container-fluid" id="banner-sec">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 p-0">
          <div class="hekicopter-heading">
            <h2>
              Looking For A Quality And Affordable Crane For Your Next Project?
            </h2>
            <div class="hekicopter-para">
              <a href="javascript:void(0);" class="hekicopter-btns"
                >Get A Quote</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!---=== three steps 1 ====---->
  <div class="container-fluid p-0 three-steps-bg" id="three-sec">
    <div class="overview-element">
      <img src="assets/images/overview-bg.png" alt="plane" class="img-fluid" />
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-0">
        <div class="overview-thumb-img">
          <img
            src="assets/images/product-1(EOT-Cranes).png"
            alt="eto"
            class="img-fluid cranes-img"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-0">
        <div class="overview-three-content">
          <h6>01</h6>
          <h2 class="title-comman">EOT Cranes</h2>
          <div class="sec-title mr-b-30">
            <div class="separator centered"></div>
          </div>
          <p>
            To Fulfill The Specific Needs Of The Clients. Carry Cranes Give Them A
            Customized Exhibit Of EOT Cranes In Changing Capacities Going From 1.0
            T To 200 T Capacities Of EOT Cranes.
          </p>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <ul class="overview-item">
                <li>Praesent lacus integer.</li>
                <li>Fermentum sed duis</li>
                <li>Aliquam consectetuer</li>
                <li>Praesent lacus integer.</li>
                <li>Fermentum sed duis</li>
                <li>Aliquam consectetuer</li>
              </ul>
            </div>
            <div class="col-md-12 col-12 btns">
              <a href="javascript:void(0);" class="three-btns">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!---=== three steps 2 ====---->
  <div class="container-fluid p-0" id="three-sec">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="overview-element2">
          <img
            src="assets/images/overview-bg.png"
            alt="plane"
            class="img-fluid"
          />
        </div>
        <div class="overview-three-content">
          <h6>02</h6>
          <h2 class="title-comman">Gantry Cranes</h2>
          <div class="sec-title mr-b-30">
            <div class="separator centered"></div>
          </div>
          <p>
            Carry Cranes Are Manufacturing And Supplying A Good Array Of Gantry
            Cranes For Marble Industries, Hydel Projects & Open Yards/ Workshops.
            Gantry Cranes Are Varying From 1.0 T To 200 T Capacities & Span Up To
            50 Mtrs.
          </p>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <ul class="overview-item">
                <li>Praesent lacus integer.</li>
                <li>Fermentum sed duis</li>
                <li>Aliquam consectetuer</li>
                <li>Praesent lacus integer.</li>
                <li>Fermentum sed duis</li>
                <li>Aliquam consectetuer</li>
              </ul>
            </div>
            <div class="col-md-12 col-12 btns">
              <a href="javascript:void(0);" class="three-btns">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-0">
        <img
          src="assets/images/product-2(Gantry-Cranes).png"
          alt="gantr"
          class="img-fluid cranes-img"
          style="width: 100%"
        />
      </div>
    </div>
  </div>
  
  <!---=== three steps 3 ====---->
  <div class="container-fluid p-0 three-steps-bg" id="three-sec">
    <div class="overview-element">
      <img src="assets/images/overview-bg.png" alt="overview" class="img-fluid" />
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-0">
        <img
          src="assets/images/product-3(Jib-Cranes).png"
          alt="achievement"
          class="img-fluid cranes-img"
          style="width: 100%"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-0">
        <div class="overview-three-content">
          <h6>03</h6>
          <h2 class="title-comman">Jib Cranes</h2>
          <div class="sec-title mr-b-30">
            <div class="separator centered"></div>
          </div>
          <p>
            Our Jib Crane Offers Decisions Of Various Determinations And Models.
            It Likewise Can Be Customized To Suit Client Explicit Prerequisites On
            Lifting Limit, The Greatest Point Of Slew, Jib A Manageable Distance,
            And Functionalities.
          </p>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <ul class="overview-item">
                <li>Praesent lacus integer.</li>
                <li>Fermentum sed duis</li>
                <li>Aliquam consectetuer</li>
                <li>Praesent lacus integer.</li>
                <li>Fermentum sed duis</li>
                <li>Aliquam consectetuer</li>
              </ul>
            </div>
            <div class="col-md-12 col-12 btns">
              <a href="javascript:void(0);" class="three-btns">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!---=== three steps 4 ====---->
  <div class="container-fluid p-0" id="three-sec">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="overview-element2">
          <img
            src="assets/images/overview-bg.png"
            alt="plane"
            class="img-fluid"
            style="width: 100%"
          />
        </div>
        <div class="overview-three-content">
          <h6>04</h6>
          <h2 class="title-comman">Semi Goliath Cranes</h2>
          <div class="sec-title mr-b-30">
            <div class="separator centered"></div>
          </div>
          <p>
            Semi Goliath Cranes are demanded by Industries that require a big Load
            Transportation Facility. These Indoor & Outdoor Semi Goliath Cranes
            are appreciated for his or her Optimum Working Space.
          </p>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <ul class="overview-item">
                <li>Praesent lacus integer.</li>
                <li>Fermentum sed duis</li>
                <li>Aliquam consectetuer</li>
                <li>Praesent lacus integer.</li>
                <li>Fermentum sed duis</li>
                <li>Aliquam consectetuer</li>
              </ul>
            </div>
            <div class="col-md-12 col-12 btns">
              <a href="javascript:void(0);" class="three-btns">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-0">
        <img
          src="assets/images/product-4(Semi-Goliath-Cranes).png"
          alt="gantr"
          class="img-fluid cranes-img"
          style="width: 100%"
        />
      </div>
    </div>
  </div>
  
  <!---=== Counter ====---->
  <div class="container-fluid" id="counters">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="achievement">
            <div class="sec-title centered">
              <h2>Our Achivements</h2>
              <div class="separator"></div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row" id="counter-sec">
        <div class="col-md-12 col-lg-12 col-sm-12 col-12">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 block-column">
              <div class="counter-block-one">
                <div class="counter-block">
                  <div class="count-outer count-box counted">
                    <span class="count-text count">5</span><span>+</span>
                  </div>
                  <h3><span>Years of Experience</span></h3>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 col-sm-12 block-column">
              <div class="counter-block-one">
                <div class="counter-block">
                  <div class="count-outer count-box counted">
                    <span class="count-text count">50</span><span>+</span>
                  </div>
                  <h3><span>Clients</span></h3>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 col-sm-12 block-column">
              <div class="counter-block-one">
                <div class="counter-block">
                  <div class="count-outer count-box counted">
                    <span class="count-text count">50</span><span>+</span>
                  </div>
                  <h3><span>Team Strength</span></h3>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 col-sm-12 block-column">
              <div class="counter-block-one">
                <div class="counter-block">
                  <div class="count-outer count-box counted">
                    <span class="count-text count">2</span><span>+</span>
                  </div>
                  <h3><span>Awards</span></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!---=== testimonials ====---->
  <div class="container-fluid test-pd40" id="testimonials">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-15 col-12">
          <div class="achievement">
            <div class="sec-title centered">
              <h2>Our Testimonial</h2>
              <div class="separator"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="featured-item1">
          <div class="col-lg-12 col-md-12">
            <div class="col-md-12">
              <div class="testimonial-boxs">
                <div class="testimonial-pic">
                  <img
                    src="assets/images/testimonials-3.jpg"
                    alt="testimonial"
                    class="img-fluid"
                  />
                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                </div>
                <ul class="item-rating">
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p>
                  We are more than happy with the quality of work offered by
                  Carrycranes. Our site office they have built was erected in no
                  time. The quality materials used is both durable and
                  aesthetically appealing. It has helped our staff find a place to
                  work under optimal conditions. Thank you for your services.
                </p>
                <h3>Mr. Sandeep Juneja<span> (client) </span></h3>
              </div>
            </div>
          </div>
  
          <div class="col-lg-12 col-md-12">
            <div class="col-md-12">
              <div class="testimonial-boxs">
                <div class="testimonial-pic">
                  <img
                    src="assets/images/testimonials-3.jpg"
                    alt="testimonial"
                    class="img-fluid"
                  />
                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                </div>
                <ul class="item-rating">
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p>
                  After looking out at a number of places, we zeroed in on
                  Carrycranes. It was a significant deal for our company and we
                  chose them to close it with. Commitment, quality work and timely
                  delivery are three qualities we admire in Carrycranes. Thank you
                  for your services
                </p>
                <h3>Mr. Arbaaz Sheikh<span> (client) </span></h3>
              </div>
            </div>
          </div>
  
          <div class="col-lg-12 col-md-12">
            <div class="col-md-12">
              <div class="testimonial-boxs">
                <div class="testimonial-pic">
                  <img
                    src="assets/images/testimonials-3.jpg"
                    alt="testimonial"
                    class="img-fluid"
                  />
                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                </div>
                <ul class="item-rating">
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p>
                  A myriad of products and design options to choose from, we were
                  delighted to have our project done by Carrycranes. We recommend
                  them for their professional competence in executing projects,
                  end-to-end.
                </p>
                <h3>Mr. Nitin Khatri<span> (client) </span></h3>
              </div>
            </div>
          </div>
  
          <div class="col-lg-12 col-md-12">
            <div class="col-md-12">
              <div class="testimonial-boxs">
                <div class="testimonial-pic">
                  <img
                    src="assets/images/testimonials-3.jpg"
                    alt="testimonial"
                    class="img-fluid"
                  />
                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                </div>
                <ul class="item-rating">
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p>
                  Pleased with the service I got. The project was delivered and
                  executed on time. Carrycranes’s team is professional and possess
                  sound knowledge of their materials and building process. I would
                  surely recommend Carrycranes.
                </p>
                <h3>Mr. Varun Jaat<span> (client) </span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!---=== Contact-us ====---->
  
  <div class="container-fluid" id="contact-us">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 ml-auto mr-auto">
          <div class="achievement">
            <div class="sec-title centered mr-b-40">
              <h2>Get in Touch</h2>
              <div class="separator"></div>
            </div>
          </div>
          <div class="contact-title">
            <p></p>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
          <div class="contact-box">
            <h3 class="form-theme">Stay Connected</h3>
            <form id="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label> Name </label>
                    <input
                      id="form_name"
                      type="text"
                      name="name"
                      class="form-control inputbox"
                      placeholder="Name"
                      required="required"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Email Address</label>
                    <input
                      id="form_email"
                      type="email"
                      name="email"
                      class="form-control inputbox"
                      placeholder="Email Address"
                      required="required"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Phone Number</label>
                    <input
                      id="form_phone"
                      type="tel"
                      name="phone"
                      class="form-control inputbox"
                      placeholder="Phone Number"
                      required="required"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Message</label>
                    <textarea
                      id=""
                      name="message"
                      class="form-control inputbox"
                      placeholder="Message"
                      rows="4"
                      required="required"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <button class="submit-btn"><span>Submit</span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="contact-info">
            <ul class="add-number">
              <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <a href="#"
                  >Address : Office-554, Khan Market Samaypur Road Rajiv Colony
                  Sec 56A Ballabhgarh Faridabad.</a
                >
              </li>
              <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <a href="#"
                  >Address : Workshop-Plot No:1, Gali No-4 Krishna Colony Sec-25
                  Ballabhgarh Faridabad.</a
                >
              </li>
              <li>
                <i class="fa fa-phone"></i>
                <a href="#"> 7678152415, 7217640518, 9873018598</a>
              </li>
              <li>
                <i class="fa fa-envelope-o"></i
                ><a href="#">carrycranes2021@gmail.com</a>
              </li>
            </ul>
            <div class="footer-social-icon">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"
                    ><i class="fa fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"
                    ><i class="fa fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"
                    ><i class="fa fa-google-plus" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--- Socail Media Icons ---->
  
  <div class="leftside">
    <ul>
      <li><i class="fa fa-facebook-official"></i></li>
      <li><i class="fa fa-linkedin-square"></i></li>
      <li><i class="fa fa-twitter-square"></i></li>
      <li><i class="fa fa-instagram"></i></li>
      <li><i class="fa fa-google-plus-official"></i></li>
    </ul>
  </div>
  